.home__carousel {
  margin: 0;
  height: '160px';
  color: '#fff';
  line-height: '160px';
  text-align: 'center';
  background: '#364d79';
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product a {
  color: var(--theme-color);
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 200px;
}

.product__info {
  padding: 1rem;
}
