.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
}

.nav {
  height: calc(4.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo {
  color: var(--title-color);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon {
  display: none;
}

.nav__cart-icon {
  color: var(--theme-color);
  font-size: 2rem;
}

.nav__cart-badge {
  background-color: var(--theme-color);
}

/*=============== BREAKPOINTS ===============*/

/* For large divices */
@media screen and (max-width: 992px) {
  .header {
    top: initial;
    bottom: 0;
  }

  .nav {
    height: 2rem;
  }

  .nav__logo {
    display: none;
  }

  .nav__menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 1rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }

  .nav__link-text {
    display: none;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .nav__icon {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .nav__cart {
    position: fixed;
    right: 0;
    bottom: 15%;
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
  }

  .nav__cart-icon {
    font-size: 2rem;
  }
}
/* For medium divices */
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
/* For small divices */
@media screen and (max-width: 350px) {
  .nav__list {
    column-gap: 0;
  }
}
